:root {
	/* CSS HEX */
	--sunglow: #fcc71fff;
	--raisin-black: #242325ff;
	--tangerine: #ee8000ff;
	--isabelline: #f4ededff;
	--sweet-brown: #ac3931ff;
	--dartmouth-green: #306b34ff;

	/* CSS HSL */
	--sunglow: hsla(46, 97%, 55%, 1);
	--raisin-black: hsla(270, 3%, 14%, 1);
	--tangerine: hsla(32, 100%, 47%, 1);
	--isabelline: hsla(0, 24%, 94%, 1);
	--sweet-brown: hsla(4, 56%, 43%, 1);
	--dartmouth-green: hsla(124, 38%, 30%, 1);
}
